.divNavBar{
    background-color: #FFFFE0;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 2.5%;
    gap: 4rem;
    position: fixed;
    top: 0;
}
h2{
    color: #708090;
    width: 100%;
}
h2:hover{
    color: #F0E68C;
}
.active {
    background-color: #ddf0ce;
}
.active h2 {
    color: #000000;
}


