#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


main {
  flex: 1;
  padding: 2rem;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.contenedorPrincipal{
  background-color: #ddf0ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
