.divDetallesProyectos{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.divDeProyectos{
    width: 70%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.75rem;
}

.imgProyectos{
    width: 180px;
    height: auto;
}