.divDetallesProyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.divDeProyectos{
    width: 40%;
    height: 250px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.75rem;
}

.imgProyectos{
    width: 150px;
    height: auto;
}